<div class="container">
    <div class="main-contact">
        <div class="section-title mb-3">
            <p class="d-flex justify-content-center m-0">LIÊN HỆ</p>
            <p class="d-flex justify-content-center m-0">🍀</p>
        </div>
        <div class=" row row-cols-1 row-cols-md-2">
            <div class="col">
                <div class="info">
                    <div class="info-left">
                        <div class="img-info-top">
                            <img src="~/Images/sinhto.png" alt="Logo bệnh viện" />
                        </div>
                        <div class="info-title">
                            <p>BỆNH VIỆN ĐA KHOA SINH TỐ DÂU</p>
                        </div>
                        <div class="info-content">
                            <ul>
                                <li><img src="~/Icons/maps-and-flags.png" alt="Address Icon" />Lô E2 Khu Công nghệ cao, TP. Thủ Đức</li>
                                <li><img src="~/Icons/phone-call.png" alt="Phone number Icon" />(028) 3666 9555</li>
                                <li><img src="~/Icons/email.png" alt="Email Icon" />stdhospital@gmail.com</li>
                                <li><img src="~/Icons/global.png" alt="Icon Website" />bvsinhtodau.vn</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" id="col-map">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.6071450865865!2d106.78485486855752!3d10.85497115229025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527c3debb5aad%3A0x5fb58956eb4194d0!2zxJDhuqFpIEjhu41jIEh1dGVjaCBLaHUgRQ!5e0!3m2!1svi!2s!4v1712655140581!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
    </div>
</div>