<div class="container">
    <div class="section-title mb-3">
        <p class="d-flex justify-content-center m-0">HƯỚNG DẪN ĐĂNG KÝ KHÁM</p>
        <p class="d-flex justify-content-center m-0">🍀</p>
    </div>
</div>
<div class="main-customer-guide">
    <div class="customer-guide-title">
        <h3>Để đăng ký khám bệnh trực tuyến trên trang website của bệnh viện đa khoa Sinh Tố Dâu bạn phải làm các bước sau:</h3>
    </div>
    <div class="content-customer-guide">
        <div class="step">
            <li><b>Bước 1:</b> Nhấn vào nút "Đăng ký khám" trên thanh điều hướng của trang web. Dưới đây là hình ảnh chi tiết.</li>
            <img src="~/Images/trang1.png" alt="ảnh bước 1" />
        </div>
    </div>
    <div class="content-customer-guide" id="content-customer-guide-2">
        <div class="step">
            <li><b>Bước 2:</b> Sau khi form đăng ký hiện lên bạn cần phải chọn khoa mà bạn muốn khám bệnh sau đó chọn bác sĩ khám bệnh tương ứng với chuyên khoa. Tiếp theo bạn hãy chọn ngày giờ bạn sẽ đến khám và điền thông tin của mình vào các ô bên dưới (bắt buộc). Dưới đây là hình ảnh chi tiết.</li>
            <img src="~/Images/trang2.png" alt="ảnh bước 2" />
        </div>
    </div>
    <div class="content-customer-guide">
        <div class="step">
            <li><b>Bước 3:</b> Sau khi điền đủ thông tin vào các ô trên bạn bấm vào nút "Gửi" để đơn đăng ký được xác nhận. Dưới đây là hình ảnh chi tiết.</li>
            <img src="~/Images/trang3.png" alt="ảnh bước 3" />
            <p><b>Lưu ý:</b> Sau khi nhấn gửi hệ thống đã nhận được đơn đăng ký và khi bạn đến bệnh viện với khung giờ bạn đã đăng ký thì nhân viên sẽ đưa cho bạn 1 phiếu khám để được ưu tiên vào phòng khám của bác sĩ. Nếu bác sĩ đó đang có lịch hẹn khám trùng với giờ bạn chọn thì bạn sẽ không chọn giờ đó được. Vui lòng chọn giờ hoặc ngày khác.</p>
        </div>

    </div>
    <div class="main-video">
        <h4>Dưới đây là video hướng dẫn chi tiết: </h4>
        <div class="video-guide">

            <div class="video">
                <iframe src="https://www.youtube.com/embed/ukHK1GVyr0I?si=3aKK0yJp9PfEnB_3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</div>
