@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="row justify-content-center align-items-center" id="main-login-page">
    <div class="col-md-4 flex-wrap my-4" id="form-login">
        <h1 class="text-center flex-grow-1 col-12" id="headerloginpage">Quên mật khẩu</h1>
        <section class="flex-grow-1 p-5 mx-5">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control border-radius" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label formlogin"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Đặt lại mật khẩu</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
