@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model A2_SinhToDau_QuanLyBenhVien.Models.Specialist
<div class="container">
    <div class="section-title mb-3 justify-content-center">
        <p class="d-flex justify-content-center m-0">@Model.SpecialistName</p>
        <p class="d-flex justify-content-center m-0">🍀</p>
    </div>
    <section>
        @Html.Raw(Model.SpecialistDescription)
    </section>
</div>